@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #09090b;
  /* Zinc-950 for stronger contrast */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    /* Slightly lighter black for depth */
    --foreground: #fafafa;
    /* Bright white-ish for better readability */
  }
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #000;
  color: #fff;
}